<tr>
  <td style="padding-top: 50px; text-align: center; font-size: 20px;">
    感谢您选择ReadMatters！
  </td>
</tr>
<tr>
  <td>
    <table style="padding-top: 40px; width: 100%; font-size: 14px;">
      <tbody>
        <tr>
          <td style="line-height: 1.5">
            Hi, <%= @resource.name %>
          </td>
        </tr>
        <tr>
          <td style="line-height: 1.5">
            您可以通过以下的按钮重置您的密码。
          </td>
        </tr>
        <tr>
          <td  style="padding: 20px 0px;">
            <a href="<%= edit_password_url(@resource, reset_password_token: @token) %>" style=" margin-top: 20px; display: block; height: 35px; width: 160px; background-color: #21b384; color: #ffffff; text-align: center; line-height: 35px; text-decoration: none; border-radius: 3px; margin: 0 auto;">重置密码</a>
          </td>
        </tr>
        <tr>
          <td style="line-height: 1.5">
            如果您未曾申请过重置您的账户密码，请无视该邮件。如果您不点击以上的按钮进行密码重置，密码不会被改变。
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
