<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="background-color: #f7f9fa; margin-top: 30px; font-family: arial,sans-serif">
    <div class="mail-container" style="padding: 45px 35px 45px 35px; width: 552px; border: 1px solid #dedede; border-radius: 3px; margin: 0 auto; background-color: #ffffff;">
      <div style="color: #21b384; font-size: 20px;">
        Readfavor
      </div>

      <div style="padding-top: 50px; text-align: center; font-size: 20px;">
        <div> 欢迎加入Readfavor！ </div>
      </div>

      <div style="padding-top: 40px;">
        <p>
          恭喜您已成功注册！
        </p>
        <p>
          您的用户名为:  <span style="color: #21b384">「jevanwu」</span>.
        </p>
        <p>
          现在您可以回到网站继续浏览书籍并进行操作了！
        </p>
        <div style="padding-top: 20px;">
          <a href="/" style=" margin-top: 20px; display: block; height: 35px; width: 160px; background-color: #21b384; color: #ffffff; text-align: center; line-height: 35px; text-decoration: none; border-radius: 3px; margin: 0 auto;">开始浏览书籍</a>
        </div>
      </div>
    </div>
  </body>
</html>
