.profile-nav
  ul.nav-list
    /li
    /  = link_to "时间轴", timeline_path, remote: true
    li
      = link_to "购买到的书籍", bought_books_path, remote: true
    li
      = link_to "已售卖的书籍", sold_books_path, remote: true
    li
      = link_to "书架上的书籍", selling_books_path, remote: true
    /*li*/
    /*  = link_to "历史书单", "#"*/
    li
      = link_to "设置", user_setting_path, remote: true


javascript:
  $(document).ready(function(){
    $(".avatar").click(function(e){
      $("#user_avatar").click();
    });

    $("#user_avatar").fileupload({
      url: "/users/update_avatar",
      dataType: "json",
      method: "patch",
      done: function(e, data) {
        $(".avatar img").attr("src", data.result.image);
      },
      error: function(data) {
      }
    });
  });
