#cart( data-toggle="popover" data-placement="bottom" title="Your cart" data-content="#{current_cart.items_text}" )
  = fa_icon "shopping-cart"
  .number-of-items
    = "[#{current_cart.number_of_items}]"
