#cart( data-toggle="popover" data-placement="bottom" title="Your cart" data-content="#{current_cart.items_text}" )
  = link_to fa_icon("shopping-cart"), cart_path(current_cart)
  .number-of-items
    = "[#{current_cart.number_of_items}]"
