<tr>
  <td style="padding-top: 50px; text-align: center; font-size: 20px;">
    购买《》的买家已付款
  </td>
</tr>
<tr>
  <td>
    <table style="padding-top: 40px; width: 100%; font-size: 14px;">
      <tbody>
        <tr>
          <td style="line-height: 1.5">
            买家已付款，请尽快发货
          </td>
        </tr>
        <tr>
          <td  style="padding-top: 20px;">
            <a href="/" style=" margin-top: 20px; display: block; height: 35px; width: 160px; background-color: #21b384; color: #ffffff; text-align: center; line-height: 35px; text-decoration: none; border-radius: 3px; margin: 0 auto;">已发货</a>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
