<tr>
  <td style="text-align: center; font-size: 20px;">
    未读消息
  </td>
</tr>
<tr>
  <td>
    <table style="padding-top: 35px; width: 100%; font-size: 14px;">
      <tbody>
        <tr>
          <td>
            您好，
          </td>
        </tr>
        <tr>
          <td style="line-height: 1.5">
            <%= @sender.name %>给您发送了一条消息，请及时查看
          </td>
        </tr>
        <tr>
          <td style="line-height: 1.5; text-align: center;">
            <div style="display: inline-block; color: #fff; background-color: #21b384; border-radius: 4px; padding: 3px 10px; max-width: 460px; margin: 0 auto; text-align: left;">
              <%= @message_content %>
            </div>
          </td>
        </tr>
        <tr>
          <td  style="padding-top: 20px; padding-bottom: 20px;">
            <a href=<%= @cta_url %> style=" margin-top: 20px; display: block; height: 35px; width: 160px; background-color: #21b384; color: #ffffff; text-align: center; line-height: 35px; text-decoration: none; border-radius: 3px; margin: 0 auto;">立即查看</a>
          </td>
        </tr>
        <tr>
          <td style="color: #e97174">
            在使用过程中，有发现需要改进的地方？请在网站上提出建议
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
