$theme-color: #21b384
//#ff3300
// #ff5050
// #00cccc
// #ff3300

html, body, div, p
  margin: 0
  font: 12px/2 AvenirNext-Regular,"proxima-nova","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei","Open Sans","Helvetica Neue",Arial,sans-serif

form
  select
    width: 118px
    option
      text-align: center

h1
  margin: 0

.grey-division
  min-height: 65%
  background-color: #f7f7f7
  width: 100%
  padding-bottom: 30px

.container
  padding-top: 60px
  min-height: 380px

.main
  padding-top: 50px

// override bootstrap
.btn, .form-control
  border-radius: 3px
