@import shared/color_mixin

.turbolinks-progress-bar
  background-color: $theme-color

html, body, div, p
  margin: 0
  font: 14px/2 AvenirNext-Regular,"proxima-nova","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei","Open Sans","Helvetica Neue",Arial,sans-serif
  -webkit-font-smoothing: antialiased

form
  select
    width: 118px
    option
      text-align: center

h1
  margin: 0

.grey-division
  min-height: 65%
  background-color: #f5f5f5
  width: 100%
  padding-bottom: 30px

.container
  min-height: 380px

.main
  padding-top: 50px

.narrow-form
  width: 800px

.white-bg
  background-color: #ffffff

// override bootstrap
.btn, .form-control
  border-radius: 3px

.alert, .notice
  color: #ffffff
  height: 40px
  line-height: 40px
  text-align: center
  .close
    position: absolute
    top: 0px
    right: 0px
    height: 40px
    width: 40px
    line-height: 40px
    cursor: pointer
    font-size: 16px

.inline-block
  display: inline-block

.mt5
  margin-top: 5px

.mb20
  margin-bottom: 20px

.mt20
  margin-top: 20px

.pt20
  padding-top: 20px

.alert
  background-color: $warning-color

.notice
  background-color: $theme-color

.theme-link
  color: $theme-color
  &:hover
    color: $theme-color
  &.btn
    border: none !important
    &:focus
      color: $theme-color
      outline: 0px !important

.theme-text
  color: $theme-color

.warning-text
  color: $warning-color

.locked-item
  opacity: 0.5

.emphasis-btn
  cursor: pointer
  padding: 10px 16px
  margin: 4px 0px
  color: $theme-color
  border: 1px solid $theme-color !important
  border-radius: 3px
  transition: background 0.3s
  &:hover
    background-color: $theme-color
    color: #ffffff


.logo
  width: 200px
  img
    width: 200px

.hidden
  display: none !important

.input-group
  .input-group-addon
    padding: 6px 12px
    font-size: 14px
    font-weight: 400
    line-height: 1
    color: #555
    text-align: center
    background-color: #eee
    border-radius: 4px
    display: table-cell
    border-top-right-radius: 0
    border-bottom-right-radius: 0
