$theme-color: #ff3300
// #ff5050
// #00cccc
// #ff3300

html, body, div, p
  margin: 0
  font: 12px/2 AvenirNext-Regular,"proxima-nova","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei","Open Sans","Helvetica Neue",Arial,sans-serif

h1
  margin: 0

.grey-division
  background-color: #f7f7f7
  width: 100%

.container
  padding-top: 60px


