.footer
  ul
    padding-top: 12px
    padding-left: 0px
    margin-bottom: 0px
    width: 100%
    text-align: center
    font-size: 16px
    li
      display: inline
      list-style: none
      padding: 20px
      a
        color: #444444
        text-decoration: none
      &.wechat
        position: relative
        .wechat-image
          display: none
          position: absolute
          top: -100px
          left: -14px
          img
            width: 100px
            height: 100px
        &:hover
          .wechat-image
            display: block
