#container
  background-color: #f7f7f7
  padding: 20px 0px
  margin: 0 auto
  .item
    margin: 8px
    background-color: #ffffff
    border-radius: 3px
    width: 130px
    float: left
    .cover
      border-radius: 3px 3px 0px 0px
      position: relative
      img
        border-radius: inherit
        width: 100%
      .user-avatar
        position: absolute
        right: 8px
        bottom: -16px
        width: 32px
        height: 32px
        border-radius: 50%
        img
          width: inherit
          height: inherit
    .title
      text-align: center
      font-size: 13px
      padding: 5px
    .description
      font-size: 12px
      padding: 2px 6px
      text-align: justify
    .social
      padding: 2px 6px
      float: right
      font-size: 13px
      .fa
        padding: 0px 2px
    
      
