#container
  margin: 0 auto
  background-color: #f7f7f7
  padding: 20px 50px
  .item
    margin: 8px
    background-color: #ffffff
    border-radius: 6px
    width: 230px
    display: block
    .cover
      border-radius: 6px 6px 0px 0px
      img
        border-radius: inherit
        width: 100%
    .title
      text-align: center
      font-size: 16px
      padding: 5px
    .description
      border-radius: 0px 0px 6px 6px
      font-size: 12px
      padding: 2px 4px
      text-align: justify
    .social
      padding: 2px 4px
      float: right
      font-size: 18px
      .fa
        padding: 0px 2px
    
      
