#container
  margin: 0 auto
  background-color: #f7f7f7
  padding: 20px 50px
  .item
    padding: 8px
    border-radius: 6px
    width: 230px
    display: block
    img
      border-radius: inherit
      width: 100%
