.book-name
  padding-top: 80px
  width: 300px
  margin: 0 auto
  .hint
    font-size: 18px
    text-align: center
    color: #333333
    padding: 20px 0px 10px 0px

.container
  .with-cover
    margin-top: 80px
  .product-form
    form
      width: 1000px
      margin: 0 auto
      #product_price
        width: 150px
      label
        span.theme-text
          font-size: 14px
      #insert-summary
        margin-left: 10px
        vertical-align: text-bottom
        font-size: 14px

