.product-container
  .product-show-nav
    padding-left: 5px
    margin-top: -102px
    margin-right: 15px
    background-color: #ffffff
    .product-cover
      float: left
      border-radius: 3px
      width: 120px
      margin-top: -8%
      margin-left: 15px
      img
        border: 1px solid #404040
        width: inherit
        border-radius: inherit
      .name
        font-size: 18px
        width: inherit
        text-align: center
    ul.nav-list
      display: inline
      padding-left: 10px
      li
        display: inline
        list-style: none
        font-size: 20px
        padding: 0px 10px
        a
          text-decoration: none
          color: #404040
        a:hover
          border-bottom: 2px solid #404040


    .price-tag
      text-align: center
      float: right
      .price
        font-weight: normal
      .btn-success
        width: 95px

  .product-intro, .photos, .author-intro, .catalog
    text-align: justify
    padding: 15px
    p
      font-size: 14px

  .author-intro, .catalog
    p
      display: none

  #show-author-intro, #show-catalog
    color: $theme-color
    cursor: pointer

  .product-intro
    padding-top: 120px

  .js-buy-it
    border: 1px solid #dfdfdf
    border-bottom-left-radius: 3px
    border-bottom-right-radius: 3px
    border-top: none
    padding: 10px 20px
    background-color: #fff
    width: 190px
    .price
      font-size: 16px
    .warning-text
      text-decoration: line-through
      margin-left: 5px
    .shares
      margin: 20px -5px 0px -5px
      .social
        cursor: pointer
        &:hover
          background-color: #dfdfdf
      i.fa
        font-size: 16px
    &.fixed
      position: fixed
      top: 50px
