.product-show-nav
  padding-left: 222px
  padding-right: 90px
  background-color: #ffffff
  ul
    display: inline
    li
      display: inline
      list-style: none
      font-size: 20px
      padding: 0px 10px
      a
        text-decoration: none
        color: #404040
      a:hover
        border-bottom: 2px solid #404040


.product-container
  .product-cover
    border-radius: 3px
    width: 150px
    margin-top: -170px
    margin-left: 15px
    img
      border: 1px solid #404040
      height: 160px
      border-radius: inherit
    .name
      font-size: 18px
      width: inherit
      text-align: center

  .price-tag
    text-align: center
    float: right
    margin-top: -125px
    margin-right: 15px
    .price
      font-weight: normal 

  .product-intro, .author-intro
    text-align: justify
    padding: 15px
    p
      font-size: 15px


