.product-container
  position: relative
  .product-cover
    margin-left: 15px
    position: absolute
    top: -120px
    border-radius: 3px
    img
      border: 1px solid #404040
      height: 160px
      border-radius: inherit
    .name
      font-size: 18px
      width: inherit
      text-align: center

  .price-tag
    position: absolute
    top: -47px
    right: 30px
    font-size: 90px
    color: skyblue

  .product-intro, .author-intro
    text-align: justify
    padding: 15px
    p
      font-size: 15px


